@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
    --scroll-bar-color: #4b5563;
    --scroll-bar-bg-color: #f3f4f6;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}

#progressDiv::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#progressDiv::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

#progressDiv::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}
